@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


*{
box-sizing: border-box;
margin: 0;
padding: 0;
}
body {
  font-family: "Merriweather", serif;
}
 /* banner sectin style start here */

.banner-container{
  
width: 1320px;
border: 2px solid tomato;
min-height: 600px;
margin: 0 auto;
margin-top: 20px;
border-radius: 16px;
background-color: rgba(0, 0, 0, 0.5);
background-blend-mode: overlay;
background-image: url("../images/Banner\ Image.png");
background-position: center;
background-repeat: no-repeat; /* img choto hole bar bar na ashe*/
background-size: cover;  /*jata img ta purata cover kora*/
}

.banner-contant p{
color: rgb(255, 255, 255);
}
.banner-contant h1{
color: rgb(255, 255, 255);
}
.banner-contant h1{
  font-weight: 900;
  font-size: 72px;
}
.banner-contant {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}
/* 65%-section style starts here  */

.second-section-container{
  width: 806px;
  height: 802px;
  /* border: 2px solid tomato; */
  margin: 0 auto;
  margin-top: 90px;
}
.second-section-contant h1{
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
}
.second-section-contant p{
color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
line-height: 100px;
letter-spacing: 0%;
text-align: center;

}
.second-section-contant h3{
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0%;
  text-align: center;
}
.second-section-contant{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  
}
.image-container{
  width: 802.9px;
height: 500px;
}
.image-container img{
  width: 100%
height: 100%;
}
/* <!-- Welcome to midnight party section  style starts hare  --> */
.midnight-section-container{
  /* border: 2px solid tomato; */
  width: 1320px;
height: 600px;
margin: 0 auto;
display: flex;
background-image: url('../images/Vectorrr.png');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-color: rgba(0, 0, 0, 0.5);
background-blend-mode: overlay;
margin-top: 100px;
}
.leftside-contant{
  width: 50%;
  height: 600px;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  
}
.leftside-contant h1{
  color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
}
.leftside-contant p{
  color: rgba(255, 255, 255, 0.8);
font-family: Inter;
font-size: 18px;
font-weight: 400px;
margin-left: 10%;
}
#midnight-button{
  color: rgb(255, 255, 255);
font-family: Inter;
font-size: 20px;
font-weight: 700;
margin-right: 60%;
margin-top: 30px;
}

.rightside-contant{
  width: 50%;
  height: 600px;
  /* border: 2px solid rgb(251, 255, 11); */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* location-container start hare  */
.location-container{
border: 2px solid tomato;
width: 1320px;
height: 482px;
margin: 0 auto;
margin-top: 48px;
border-radius: 16px;

background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-bottom: 20px;

}

.location-contant{
  width: 549px;
height: 168px;
/* border: 2px solid tomato; */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
font-family: Inter;
font-size: 24px;
font-weight: 300px;
line-height: 50px;

}
.Place{
  color: rgb(255, 0, 0);
}

.Date{
  color: rgb(255, 0, 0);
}
.Time{
  color: rgb(255, 0, 0);
}

.p {
margin-left: 10%;
} 
.d {
margin-left: 6%;
} 
.t {
margin-right: 20px;
} 
.btn{
  font-size: 20px;
  border-radius: 8px;

background: rgb(255, 0, 0);
padding: 16px 32px;
border: none;
}


